{
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"useTabs": true,
	"printWidth": 120,
	"tabWidth": 3,
	"singleQuote": true,
	"trailingComma": "es5",
	"semi": true,
	"arrowParens": "always",
	"svelteSortOrder": "options-scripts-styles-markup",
	"svelteStrictMode": false,
	"svelteBracketNewLine": true,
	"svelteAllowShorthand": true,
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
